@media (min-width:1200px) {
    .container {
        margin-left: 320px;
        margin-right: 320px;
    }
/* =====header==== */
header .header-flex .nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
header .header-flex .theme-icon button{
    display: none;
    background-color: #f52029;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 2px;
    position: absolute;
    top: 33px;
    right: 290px;
}
header .header-flex .theme-icon{
    font-size: 25px;
    color: #fff;
    padding: 5px;
    position: absolute;
    right: 300px;
}
}