#root {
  text-align: center;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; 
}

.col {
  margin-bottom: 16px; 
}

.state{
  margin: 30px auto;
}

.state h4{
  padding-top: 80px ;
}
.spanSelect{
  margin-left: 326px;
  padding-bottom: 10px;
}