* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 80px 350px 0px 350px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 50px 50px 50px;
    font-size: 22px;
}

h5 {
    padding-bottom: 20px;
    margin-left: 250px;
    font-size: 22px;
    font-weight: 500;
}

h2 {
    padding-bottom: 30px;
}

.form-group-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
}

input {
    height: 25px;
    width: 320px;
    font-size: 18px;
}

button {
    padding: 5px;
    font-size: 18px;
    width: 130px;
    margin-left: 5px;
    margin-top: 5px;
}

p {
    padding-top: 10px;
    padding-left: 80px;
}

#total {
    color: blue;
    font-size: 22px;
    margin-left: 10px;
}

#percentage {
    color: blue;
    font-size: 22px;
    margin-left: 10px;
}